# Backend / DB
fastapi
uvicorn[standard]
sqlmodel
python-dotenv
python-multipart

# STT
openai

# RAG / AI
langchain-openai
langchain-core
langchain-text-splitters
sentence-transformers
faiss-cpu
pypdf
pydantic>=2
numpy
